p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

.primary{
    background-color: bisque;
    border: 1cm;
    margin: auto;
    width: 300px;
    text-align: center;
    height: 300px;
    align-items: center;
}