p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

.primary{
    background-color: bisque;
    border-style: solid;
    border-color: black;
    /* margin: auto; */
    height: 300px;
    width: 300px;
    text-align: center;
    align-content: center;
    
}

.main{
    display: flex;
    height: 99vh;
    /* width: 100vh; */
    align-items: center;
    justify-content: center;
}